include ./_mixins
include ./_data

-
    var bread = [
        {
            name:"Главная",
            href:"index.html"
        },
        {
            name:"Медиа",
            href: empty_url
        },
        {
            name:"Медиа",
            href: empty_url
        }
    ]

<!DOCTYPE html>
html(lang="ru")
    head
        +metahead
        title Article
        include ./_styles
    body
        include _header

        main
            +breadcrumbs(bread)
            section.section
                .container.container__xs
                    .title-line
                        +title('h1', 'h1', 'Разбираем обновление «Туманная Роща» в Dota 2')
                    .news-info
                        .news-info__header
                            .img-sm
                                +img('avatar.jpg')
                            .news-info__desc
                                .news-info__block
                                    a(href='author.html').name Evan J.
                                    .date 12.02.21
                                    .time читать 15 мин
                                .news-info__block
                                    span
                                        +icon('eye')
                                        | 1,247
                                    span
                                        +icon('comment')
                                        | 15

                        .news-info__pic
                            +img('article1.jpg')
                    .news-article.saved
                        .news-article__actions
                            .save
                                +icon('save')
                            a(href=empty_url).share
                                +icon('vk')
                            a(href=empty_url).share
                                +icon('facebook')
                            a(href=empty_url).share
                                +icon('google')

                        .text
                            p До конца зимней лиги DPC 2021 в пяти регионах осталось всего лишь три дня, а из 18 участников Singapore Major мы знаем имена и посев лишь четырех! Еще десять мест (четыре путевки от Китая мы пока не учитываем) будут разыгрываться в этот уикенд!
                            h2 Новый герой
                            p Мы ее ждали, и Hoodwink (Прохвостка) пришла! Этот милый ловкач попортит настроение большому количеству любителей погулять по лесам — как и у Treant Protector, некоторые ее способности завязаны на наличии деревьев поблизости. Ее AoE-корни могут серьезно напрячь оппонента, а ультимейт способен нанести большое количество урона издалека. Это новый партизан, который очень пригодится в качестве роумера.
                            p Характер персонажа <b>очень хорошо</b> отражает особенности игры против нее. Пока она находится в своей среде, ее будет тяжело убить, но как только герой вылезет на открытое пространство, он становится беззащитным: никаких искейп-механизмов, никакой защиты. Hoodwink как будто бы была создана для четвертой позиции — оппортунист, выискивающий малейшую возможность, чтобы наказать беспечного оппонента. Но насколько он будет полезен против организованной и дисциплинированной игры? Вопрос открыт.
                            h3 Из особо любопытных баффов от Aghanim's Shard выделим:
                            ul
                                li
                                    h4 Beastmaster
                                    p Ястребом вновь можно управлять, выполняя более качественную разведку. Более того, он еще и стал камикадзе, наносящим урон по оппоненту и станящим его.
                                li
                                    h4 Bounty Hunter
                                    p По сути, ему вернули старый Track: мы вновь имеем вижн вокруг помеченной цели, так еще и бафф скорости тиммейтов вернулся.
                                li
                                    h4 Brewmaster
                                    p Шутки про разделение на четыре панды ходили давно, и теперь у нас есть Void Brewling с дизармом и замедлением.


                            p Главным же победителем является Dark Seer: его Normal Punch — это отсылка к JoJo's Bizarre Adventure!
                            +img('article2.jpg')
                            h3 Изменения героев
                            p Главным же победителем является Dark Seer: его Normal Punch — это отсылка к JoJo's Bizarre Adventure!
                            blockquote Отдельно на себя обращают внимание сразу три вариации продвинутого Blink Dagger: Overwhelming Blink, Swift Blink и Arcane Blink. За дополнительные 4550 ты получаешь +25 к одной из характеристик, а также бафф, который является очень полезным, если предмет используется для атаки.
                            p Главным же победителем является Dark Seer: его Normal Punch — это отсылка к JoJo's Bizarre Adventure!
                            .news-tags
                                each item in tags
                                    span #!{item}
            section.section
                .container.container__xs
                    .title-line
                        +title('h2', 'h2', 'Комментарии<span class="count">14</span> ')
                    .comment
                        form(action='/').form.form-line
                            input(type='text' placeholder='Ваш комментарий')
                            button
                                +icon('send')
                        .comment-item
                            .comment-item__first
                                .img-sm
                                    +img('avatar.jpg')
                                .comment-item__desc
                                    .comment-item__name Evan J.
                                    .comment-item__text.text
                                        p Главным же победителем является Dark Seer: его Normal Punch — это отсылка к JoJo's Bizarre Adventure!
                            .comment-item__answer
                                +icon('arrow-reply')
                                span Ответить


                        .comment-item
                            .comment-item__first
                                .img-sm
                                    +img('avatar.jpg')
                                .comment-item__desc
                                    .comment-item__name Evan J.
                                    .comment-item__text.text
                                        p Ястребом вновь можно управлять, выполняя более качественную разведку. Более того, он еще и стал камикадзе, наносящим урон по оппоненту и станящим его. Главным же победителем является Dark Seer: его Normal Punch — это отсылка к JoJo's Bizarre Adventure!
                            .comment-item__answer
                                +icon('arrow-reply')
                                span Ответить
                            .comment-item__second
                                .img-sm
                                    +img('avatar.jpg')
                                .comment-item__desc
                                    .comment-item__name Evan J.
                                    .comment-item__text.text
                                        p Ястребом вновь можно управлять, выполняя более качественную разведку. Более того, он еще и стал камикадзе, наносящим урон по оппоненту и станящим его. Главным же победителем является Dark Seer: его Normal Punch — это отсылка к JoJo's Bizarre Adventure!

                        .comment-item
                            .comment-item__first
                                .img-sm
                                    +img('avatar.jpg')
                                .comment-item__desc
                                    .comment-item__name Evan J.
                                    .comment-item__text.text
                                        p Главным же победителем является Dark Seer: его Normal Punch — это отсылка к JoJo's Bizarre Adventure!
                            .comment-item__answer
                                +icon('arrow-reply')
                                span Ответить

                    +link-more('Еще 11 комментариев ')
            section.section
                .container.container__sm
                    .title-line
                        +title('h2', 'div', 'Похожие статьи')
                    .col-two
                        - for (var i = 0; i < 4; i ++)
                            a(href=empty_url).item-block.col
                                .item-block__save
                                    +icon('save')
                                .item-block__pic
                                    +img('item-home.jpg')
                                    .item-block__marks
                                        .mark.mark__orange Dota
                                        .mark.mark__velvet Видеоконтент
                                .item-block__desc
                                    .item-block__info
                                        span
                                            +icon('eye')
                                            | 1,247
                                        span
                                            +icon('comment')
                                            | 15
                                    .item-block__title В ожидании финала зимней лиги DPC 2021
                                    .item-block__text До конца зимней лиги DPC 2021 в пяти регионах осталось всего лишь три дня, а из 18 участников Singapore Major мы знаем ...
                                    .item-block__date 12.02.21
                                    .item-block__time читать 15 мин




        include _footer
        include ./_scripts
